div {
  //border: 1px solid red;
  display: flex;
}

ion-card-content {
  //border: 1px solid red;
  display: flex;
}

ion-card {
  //border: 1px solid yellow;
}
ion-content {
  //border: 1px solid blue;
}
ion-label{
  //border: 1px solid red;
}
ion-item{
  //border: 1px solid red;
  display: flex;
}
